@font-face {
    font-family: 'IM FELL DW Pica';
    src: url('../fonts/IM_FELL_DW_Pica_Roman.eot');
    src: url('../fonts/IM_FELL_DW_Pica_Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IM_FELL_DW_Pica_Roman.woff2') format('woff2'),
        url('../fonts/IM_FELL_DW_Pica_Roman.woff') format('woff'),
        url('../fonts/IM_FELL_DW_Pica_Roman.ttf') format('truetype'),
        url('../fonts/IM_FELL_DW_Pica_Roman.svg#IM_FELL_DW_Pica_Roman') format('svg');
    font-weight: normal;
    font-style: 'Roman';

}

body {
    background: rgba(136, 136, 136, 0.432);
    font-family: 'IM FELL DW Pica', 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('../img/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 112px;
    margin-top: 142.88px;
}

/* Styling geven aan de verschillende items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    /* background: #eee; */
    font-size: 18px;
    transition: 0.2s;
    border-bottom-style: solid;
    border-color: lightskyblue;
    border-width: 2px;
    /* background-image: url('../img/paper.jpg'); */

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Afvinken */
ul li.checked {
    background-image: url('../img/paper.jpg');
    background: rgba(136, 136, 136, 0.432);
    color: #fff;
    text-decoration: line-through;
}

/* Voeg een vinkje toe */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

div {
    background-color: #f4c136;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #232b47;
    z-index: 2;

}



/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 20px;
    font-family: 'IM FELL DW Pica';
}

/* Style the "Add" button */
span {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

span:hover {
    background-color: #bbb;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #232B47;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 0;
    padding: 20px;
}

.zerostate{
    background: rgba(136, 136, 136, 0.432);
    background-image: url(../img/leegv2.png);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    position: fixed;
    right: 500px;
    
}